<h1 class="admin_title">Admin Contact</h1>

<ul>
	<li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
	<li><%= link_to 'csv出力', admin_contacts_path(format: :csv) %></li>
</ul>

<table class="highlight centered responsive-table">
	<thead>
		<tr>
		<th>ID</th>
			<th>Message</th>
			<th>Email</th>
			<th>送信時間</th>
		</tr>
	</thead>
	<tbody>
	<% @contacts.each do |contact| %>
		<tr>
			<td><%= contact.id %></td>
			<td><%= contact.message %></td>
			<td><%= contact.email %></td>
			<td><%= contact.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<%= paginate @contacts %>
