<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81051454-13"></script>
    <script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-81051454-13');
gtag('set', {'user_id': 'USER_ID'});
    </script>

    <title>カフェぺディア | あなたの近くにあるカフェがすぐに見つかる</title>
    <%= csrf_meta_tags %>
    <meta name=”description” content="カフェペディアは、あなたの近所にあるカフェをすぐに見つけることができるサービスです。「Wi-Fi」「コンセント」「喫煙席」など設備に応じて気になるカフェを探すことも可能です。1度読み込んだらページの読み込みは必要ないため、どのサイトよりもサクサク動きます。是非カフェ探しにご活用ください。" />
    <link rel="icon" type="img/x-icon" href="favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="36x36" href="favicons/android-chrome-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="favicons/android-chrome-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="favicons/android-chrome-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/android-chrome-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="favicons/android-chrome-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="favicons/android-chrome-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="favicons/android-chrome-152x152.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="256x256" href="favicons/android-chrome-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="favicons/android-chrome-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="favicons/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="36x36" href="favicons/icon-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="favicons/icon-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="favicons/icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/icon-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="favicons/icon-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="favicons/icon-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="favicons/icon-152x152.png">
    <link rel="icon" type="image/png" sizes="160x160" href="favicons/icon-160x160.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicons/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="196x196" href="favicons/icon-196x196.png">
    <link rel="icon" type="image/png" sizes="256x256" href="favicons/icon-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="favicons/icon-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="favicons/icon-512x512.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/icon-16x16.png">
    <link rel="icon" type="image/png" sizes="24x24" href="favicons/icon-24x24.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/icon-32x32.png">
    <meta property="og:title" content="カフェぺディア | あなたの近くにあるカフェがすぐに見つかる" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= root_url%>" />
    <meta property="og:image" content="<%= root_url%>ogp_img.png" />
    <meta property="og:site_name"  content="カフェぺディア | あなたの近くにあるカフェがすぐに見つかる" />
    <meta property="og:description" content="カフェペディアは、あなたの近所にあるカフェをすぐに見つけることができるサービスです。「Wi-Fi」「コンセント」「喫煙席」など設備に応じて気になるカフェを探すことも可能です。1度読み込んだらページの読み込みは必要ないため、どのサイトよりもサクサク動きます。是非カフェ探しにご活用ください。" />

    <!-- //Facebook用 -->
    <meta property="fb:app_id" content="1104643199674110" />
    <meta property="article:publisher" content="<%= root_url%>" />

    <!-- //Twitter用 -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@hatsu" />
    <meta name="twitter:title" content="カフェぺディア | あなたの近くにあるカフェがすぐに見つかる" />
    <meta name="twitter:url" content="<%= root_url%>" />
    <meta name="twitter:description" content="カフェペディアは、あなたの近所にあるカフェをすぐに見つけることができるサービスです。「Wi-Fi」「コンセント」「喫煙席」など設備に応じて気になるカフェを探すことも可能です。1度読み込んだらページの読み込みは必要ないため、どのサイトよりもサクサク動きます。是非カフェ探しにご活用ください。" />
    <meta name="twitter:image" content="<%= root_url%>ogp_img.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXMDiQ7fiqsxFqsLR9CgrDMqezrp4ggl8"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%#= render 'shared/header' %>
    <%= yield %>
    <div class="about">
      <h2>カフェペディアとは</h2>
      <div class="grad_border"></div>
      <p>カフェペディアは、あなたの近所にあるカフェをすぐに見つけることができるサービスです。<span class="emphasis">「Wi-Fi」</span><span class="emphasis">「コンセント」</span><span class="emphasis">「喫煙席」</span>など設備に応じて気になるカフェを探すことも可能です。1度読み込んだらページの読み込みは必要ないため、どのサイトよりも<span class="emphasis">サクサク</span>動きます。是非カフェ探しにご活用ください。</p>
    </div>
    <footer>
      <h2>シェア</h2>
      <div class="grad_border"></div>
      <ul class="sns_block row">
        <li class="col s4">
          <div class="twitter sns">
            <a href="https://twitter.com/share?url=<%= root_url %>&amp;text=カフェぺディア - あなたの近くにあるカフェがすぐに見つかる" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </li>
        <li class="col s4">
          <div class="facebook sns">
            <a href="https://www.facebook.com/share.php?url=<%= root_url %>&amp;t=カフェぺディア | あなたの近くにあるカフェがすぐに見つかる" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
        </li>
        <li class="col s4">
          <div class="hatena sns">
            <a href="http://b.hatena.ne.jp/entry/<%= root_url %>" class="hatena-bookmark-button" data-hatena-bookmark-layout="touch" title="このエントリーをはてなブックマークに追加" target="_blank">
              B!
            </a>
          </div>
        </li>
      </ul>
      <div class="info_block">
        <a href="https://twitter.com/hatsu_38" target="_blank"><i class="fas fa-play-circle"></i>運営者</a>
        |
        <span data-target="leak_form" class="modal-trigger modal_leak"><i class="fas fa-play-circle"></i>リークする</span>
      </div>
      <p class="footer_copy">
      © Copyright 2018 hastu All rights reserved.
      </p>
    </footer>

    <div id="leak_form" class="leak_modal modal">
      <h3 class="title">カフェ情報のリークはこちら</h3>
      <div class="contact_message_block">
        <p class="contact_message">カフェペディアをご利用頂きありがとうございます。</p>
        <p class="contact_message">カフェペディアをより使いやすいサービスにするため、カフェの情報を募集しております。</p>
        <p class="contact_message">リークして頂いたカフェ情報は運営側で確認したのち、サイトに追加されます。<span class="emphasis">リークはすべて匿名</span>で送られますのでご安心ください。</p>
      </div>
      <%= form_tag(stores_leak_path, method: :post, remote: true, class: "row") { %>
        <div class="input-field message_form">
          <i class="fas fa-store prefix"></i>
          <%= text_field :store, :name,:class => "", :id => "icon_prefix2", :placeholder => "" ,:required => true %>
          <label for="icon_prefix2">店名・店舗名をご記入ください <span class="red-text">(必須)</span></label>
        </div>

        <div class="input-field message_form">
          <i class="fas fa-map-marker-alt prefix"></i>
          <%= text_field :store, :address ,:class => "", :id => "icon_prefix2",:placeholder => "" ,:required => true  %>
          <label for="icon_prefix2" class="">住所をご記入ください <span class="red-text">(必須)</span></label>
        </div>

        <div class="input-field message_form">
          <i class="fas fa-link prefix"></i>
          <%= text_field :store, :url,:class => "", :id => "icon_prefix2",:placeholder => "" ,:required => true  %>
          <label for="icon_prefix2" class="">お店のURLをご記入ください <span class="red-text">(必須)</span></label>
        </div>

        <div class="facility_form_block row">
          <h4>利用可能設備</h4>
          <div class="facility_check col s4">
            <%= check_box :store, :socket,:class => "", :id => "socket_leak" %>
            <label for="socket_leak" class="leack_chcke_label">電源</label>
          </div>
          <div class="facility_check col s4">
            <%= check_box :store, :wifi,:class => "", :id => "icon_prefix2 wifi_leak" %>
            <label for="icon_prefix2 wifi_leak" class="leack_chcke_label">wifi</label>
          </div>
          <div class="facility_check col s4">
            <%= check_box :store, :smoking,:class => "", :id => "icon_prefix2 smoking_leak" %>
            <label for="icon_prefix2 smoking_leak" class="leack_chcke_label">喫煙席</label>
          </div>
        </div>

        <div class="submit_btn_cover center">
          <%= submit_tag '送信する' ,:class => "btn contact_send_btn"%>
        </div>
      <% } %>
    </div>

    <button data-target="contact_form" class="btn modal-trigger right contact_modal_btn"><i class="far fa-envelope"></i>ご意見箱</button>
    <div id="contact_form" class="modal">
      <h3 class="title">ご意見・ご感想はこちら</h3>
      <div class="contact_message_block">
        <p class="contact_message">カフェペディアをご利用頂きありがとうございます。</p>
        <p class="contact_message">カフェペディアをより使いやすいサービスにするため、ご意見を募集しております。</p>
        <p class="contact_message">ご不明点やご意見がございましたら、フォームよりご連絡ください。<span class="emphasis">メッセージはすべて匿名</span>で送られますのでご安心ください。</p>
      </div>
      <%= form_tag(stores_contact_path, method: :post, remote: true, class: "row") { %>
        <div class="input-field message_form">
          <i class="fas fa-pencil-alt prefix"></i>
          <%= text_area :contact, :message,:class => "materialize-textarea", :id => "icon_prefix2", :placeholder => "",:required => true %>
          <label for="icon_prefix2">ご意見をご記入ください <span class="red-text">(必須)</span></label>
        </div>

        <div class="input-field message_form">
          <i class="far fa-envelope prefix"></i>
          <%= text_field :contact, :email,:class => "", :id => "icon_prefix2",:placeholder => "example@cafepedia.com" %>
          <label for="icon_prefix2" class="mail_label">返信を希望する場合はメールアドレスをご記入ください</label>
        </div>
        <div class="submit_btn_cover center">
          <%= submit_tag '送信する' ,:class => "btn contact_send_btn"%>
        </div>
      <% } %>
    </div>
    <script>
$(function(){
  $(document).ready(function(){
    $('.modal').modal();
  });
});
    </script>
  </body>
</html>
