<!DOCTYPE html>
<html>
  <head>

    <title>カフェぺディア | あなたの近くにあるカフェがすぐに見つかる</title>
    <%= csrf_meta_tags %>
    <meta name=”description” content="カフェペディアは、全国のカフェの設備情報サイトです。「Wi-Fi」「コンセント」「喫煙席」など設備に応じて気になるカフェを探すことが可能です。位置情報をONにすれば、すぐにあなたの近くにあるカフェもわかります。是非カフェ探しにご活用ください!" />
    <link rel="icon" type="img/x-icon" href="favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="36x36" href="favicons/android-chrome-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="favicons/android-chrome-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="favicons/android-chrome-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/android-chrome-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="favicons/android-chrome-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="favicons/android-chrome-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="favicons/android-chrome-152x152.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="256x256" href="favicons/android-chrome-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="favicons/android-chrome-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="favicons/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="36x36" href="favicons/icon-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="favicons/icon-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="favicons/icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/icon-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="favicons/icon-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="favicons/icon-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="favicons/icon-152x152.png">
    <link rel="icon" type="image/png" sizes="160x160" href="favicons/icon-160x160.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicons/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="196x196" href="favicons/icon-196x196.png">
    <link rel="icon" type="image/png" sizes="256x256" href="favicons/icon-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="favicons/icon-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="favicons/icon-512x512.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/icon-16x16.png">
    <link rel="icon" type="image/png" sizes="24x24" href="favicons/icon-24x24.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/icon-32x32.png">
    <meta property="og:title" content="カフェぺディア | あなたの近くにあるカフェがすぐに見つかる" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= root_url%>" />
    <meta property="og:image" content="<%= root_url%>ogp_img.png" />
    <meta property="og:site_name"  content="カフェぺディア | あなたの近くにあるカフェがすぐに見つかる" />
    <meta property="og:description" content="カフェペディアは、全国のカフェの設備情報サイトです。「Wi-Fi」「コンセント」「喫煙席」など設備に応じて気になるカフェを探すことが可能です。位置情報をONにすれば、すぐにあなたの近くにあるカフェもわかります。是非カフェ探しにご活用ください!" />

    <!-- //Facebook用 -->
    <meta property="fb:app_id" content="1104643199674110" />
    <meta property="article:publisher" content="<%= root_url%>" />

    <!-- //Twitter用 -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@hatsu" />
    <meta name="twitter:title" content="カフェぺディア | あなたの近くにあるカフェがすぐに見つかる" />
    <meta name="twitter:url" content="<%= root_url%>" />
    <meta name="twitter:description" content="カフェペディアは、全国のカフェの設備情報サイトです。「Wi-Fi」「コンセント」「喫煙席」など設備に応じて気になるカフェを探すことが可能です。位置情報をONにすれば、すぐにあなたの近くにあるカフェもわかります。是非カフェ探しにご活用ください!" />
    <meta name="twitter:image" content="<%= root_url%>ogp_img.png" />

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXMDiQ7fiqsxFqsLR9CgrDMqezrp4ggl8"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes"></head>
  <body>
    <%#= render 'shared/header' %>
    <%= yield %>
    <div class="about">
      <h2>カフェペディアとは</h2>
      <div class="grad_border"></div>
      <p>カフェペディアは、<span class="emphasis">全国のカフェの設備情報サイト</span>です。
      <span class="emphasis">「Wi-Fi」</span><span class="emphasis">「コンセント」</span><span class="emphasis">「喫煙席」</span>など設備に応じて気になるカフェを探すことが可能です。
      <span class="emphasis">位置情報をON</span>にすれば、すぐにあなたの近くにあるカフェもわかります。
      是非カフェ探しにご活用ください!</p>
    </div>
    <div class="cafe_list_about">
      <h2>掲載カフェ</h2>
      <div class="grad_border"></div>
      <!-- <ul class="cafe_list_block"> -->
      <!--   <li> -->
      <!--     <i class="fas fa&#45;coffee"></i>スターバックスコーヒー -->
      <!--   </li> -->
      <!--   <li> -->
      <!--     <i class="fas fa&#45;coffee"></i>ドトールコーヒー系列 -->
      <!--   </li> -->
      <!--   <li> -->
      <!--     <i class="fas fa&#45;coffee"></i>タリーズコーヒー系列 -->
      <!--   </li> -->
      <!--   <li> -->
      <!--     <i class="fas fa&#45;coffee"></i>ルノアール系列 -->
      <!--   </li> -->
      <!--   <li> -->
      <!--     <i class="fas fa&#45;coffee"></i>コメダ珈琲 -->
      <!--   </li> -->
      <!-- </ul> -->
      <div class="mainstore_logos">
      <% if @mainstores %>
        <% @mainstores.each do |mainstore| %>
          <div class="mainstore_image_cover">
            <%= image_tag mainstore.image.to_s %>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
    <footer>
      <h2>シェア</h2>
      <div class="grad_border"></div>
      <ul class="sns_block row">
        <li class="col s4">
          <a href="https://twitter.com/share?url=<%= root_url %>&amp;text=カフェぺディア - あなたの近くにあるカフェがすぐに見つかる" target="_blank" class="twitter sns">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="col s4">
          <a href="https://www.facebook.com/share.php?url=<%= root_url %>&amp;t=カフェぺディア | あなたの近くにあるカフェがすぐに見つかる" target="_blank" class="facebook sns">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="col s4">
          <a href="http://b.hatena.ne.jp/entry/<%= root_url %>" class="hatena-bookmark-button hatena sns" data-hatena-bookmark-layout="touch" title="このエントリーをはてなブックマークに追加" target="_blank">
            B!
          </a>
          </div>
        </li>
      </ul>
      <div class="info_block">
        <a href="https://twitter.com/hatsu_38" target="_blank"><i class="fas fa-play-circle"></i>運営者</a>
        |
        <span data-target="leak_form" class="modal-trigger modal_leak"><i class="fas fa-play-circle"></i>リークする</span>
        |
        <span data-target="contact_form" class="modal-trigger"><i class="fas fa-play-circle"></i>ご意見箱</span>
      </div>
      <p class="footer_copy">
      © Copyright 2018 hastu All rights reserved.
      </p>
    </footer>

    <div id="leak_form" class="leak_modal modal">
      <h3 class="title">カフェ情報のリークはこちら</h3>
      <div class="flash_message leak_flash">お店情報をありがとうございました。</div>
      <div class="contact_message_block">
        <p class="contact_message">カフェペディアをご利用頂きありがとうございます。</p>
        <p class="contact_message">カフェペディアをより使いやすいサービスにするため、カフェの情報を募集しております。</p>
        <p class="contact_message">リークして頂いたカフェ情報は運営側で確認したのち、サイトに追加されます。<span class="emphasis">リークはすべて匿名</span>で送られますのでご安心ください。</p>
      </div>
      <%= form_tag(stores_leak_path, method: :post, remote: true, class: "row") { %>
        <div class="input-field message_form">
          <i class="fas fa-store prefix"></i>
          <%= text_field :leak, :name,:class => "validate_input leak_name_input", :id => "icon_prefix2", :placeholder => "" ,:required => true %>
          <label for="icon_prefix2">店名・店舗名をご記入ください <span class="red-text">(必須)</span></label>
        </div>

        <div class="input-field message_form">
          <i class="fas fa-map-marker-alt prefix"></i>
          <%= text_field :leak, :address ,:class => "validate_input leak_address_input", :id => "icon_prefix2",:placeholder => "" ,:required => true  %>
          <label for="icon_prefix2" class="">住所をご記入ください <span class="red-text">(必須)</span></label>
        </div>

        <div class="input-field message_form">
          <i class="fas fa-link prefix"></i>
          <%= text_field :leak, :url,:class => "validate_input leak_url_input", :id => "icon_prefix2",:placeholder => "" ,:required => true  %>
          <label for="icon_prefix2" class="">お店のURLをご記入ください <span class="red-text">(必須)</span></label>
        </div>

        <div class="facility_form_block row">
          <h4>利用可能設備</h4>
          <div class="facility_check col s4">
            <%= check_box :leak, :socket,:class => "", :id => "socket_leak" %>
            <label for="socket_leak" class="leack_chcke_label">電源</label>
          </div>
          <div class="facility_check col s4">
            <%= check_box :leak, :wifi,:class => "", :id => "icon_prefix2 wifi_leak" %>
            <label for="icon_prefix2 wifi_leak" class="leack_chcke_label">wifi</label>
          </div>
          <div class="facility_check col s4">
            <%= check_box :leak, :smoking,:class => "", :id => "icon_prefix2 smoking_leak" %>
            <label for="icon_prefix2 smoking_leak" class="leack_chcke_label">喫煙席</label>
          </div>
        </div>

        <div class="submit_btn_cover center">
          <%= submit_tag '送信する' ,:class => "btn leak_send_btn",:id=>"leak_submit",:disabled =>true %>
        </div>
      <% } %>
    </div>

    <div id="contact_form" class="modal">
      <h3 class="title">ご意見・ご感想はこちら</h3>
      <div class="flash_message contact_flash">ご意見ありがとうございました。</div>
      <div class="contact_message_block">
        <p class="contact_message">カフェペディアをご利用頂きありがとうございます。</p>
        <p class="contact_message">カフェペディアをより使いやすいサービスにするため、ご意見を募集しております。</p>
        <p class="contact_message">ご不明点やご意見がございましたら、フォームよりご連絡ください。<span class="emphasis">メッセージはすべて匿名</span>で送られますのでご安心ください。</p>
      </div>
      <%= form_tag(stores_contact_path, method: :post, remote: true, class: "row") { %>
        <div class="input-field message_form">
          <i class="fas fa-pencil-alt prefix"></i>
          <%= text_area :inquiry, :message,:class => "materialize-textarea validate_input", :id => "icon_prefix2", :placeholder => "",:required => true %>
          <label for="icon_prefix2">ご意見をご記入ください <span class="red-text">(必須)</span></label>
        </div>

        <div class="input-field message_form">
          <i class="far fa-envelope prefix"></i>
          <%= text_field :inquiry, :email,:class => "", :id => "icon_prefix2",:placeholder => "example@cafepedia.com" %>
          <label for="icon_prefix2" class="mail_label">返信を希望する場合はメールアドレスをご記入ください</label>
        </div>
        <div class="submit_btn_cover center">
          <%= submit_tag '送信する' ,:class => "btn contact_send_btn",:id=>"contact_submit",:disabled =>true %>
        </div>
      <% } %>
    </div>
  <!-- Modal Trigger -->
    <button data-target="first_modal" class="btn modal-trigger contact_modal_btn" id="first_modal_btn"><i class="far fa-envelope"></i>modal</button>

  <!-- Modal Structure -->
  <div id="first_modal" class="modal modal-fixed-footer">
      <h3 class="first_modal_title center">カフェペディアとは</h3>
      <div class="grad_border"></div>
      <div class="first_modal_text_block">
        <p>カフェペディアは、<span class="emphasis">全国のカフェの設備情報サイト</span>です。</p>
        <p><span class="emphasis">「Wi-Fi」</span><span class="emphasis">「コンセント」</span><span class="emphasis">「喫煙席」</span>など設備に応じて気になるカフェを探すことが可能です。</p>
        <p><span class="emphasis">位置情報をON</span>にすれば、すぐにあなたの近くにあるカフェもわかります。</p>
        <p>是非カフェ探しにご活用ください!</p>
      </div>
      <h3 class="first_modal_title center">掲載カフェ</h3>
      <div class="grad_border"></div>
      <ul class="cafe_list_block">
        <li>
          <i class="fas fa-coffee"></i>スターバックスコーヒー
        </li>
        <li>
          <i class="fas fa-coffee"></i>ドトールコーヒー系列
        </li>
        <li>
          <i class="fas fa-coffee"></i>タリーズコーヒー系列
        </li>
        <li>
          <i class="fas fa-coffee"></i>ルノアール系列
        </li>
        <li>
          <i class="fas fa-coffee"></i>コメダ珈琲
        </li>
      </ul>
      <div class="mainstore_logos">
      <% if @mainstores %>
        <% @mainstores.each do |mainstore| %>
          <div class="mainstore_image_cover">
            <%= image_tag mainstore.image.to_s %>
          </div>
        <% end %>
      <% end %>
      </div>
  </div>

    <script>
$(function(){
  $(document).ready(function(){
    $('.modal').modal();
    var isFirstVist = JSON.parse(localStorage.getItem("isFirstVist"));
    if(!isFirstVist && navigator.userAgent.match(/(iPhone|iPad|iPod|Android)/)){
      $('#first_modal_btn').trigger('click');
    }
    $('#first_modal_btn').hide();
  });

  var ua = navigator.userAgent;
  if ((/Android/.test(ua) && /Linux; U;/.test(ua) && !/Chrome/.test(ua)) ||
    (/Android/.test(ua) && /Chrome/.test(ua) && /Version/.test(ua)) ||
    (/Android/.test(ua) && /Chrome/.test(ua) && /SamsungBrowser/.test(ua))) {
    // Android標準ブラウザだったときの処理
    $('.mainstore_image_cover').css('width','20%');
  }

  $("#contact_form .validate_input").on("keydown keyup keypress change", function() {
    if ($(this).val()) {
      $("#contact_form .contact_send_btn").prop("disabled", false);
    } else {
      $("#contact_form .contact_send_btn").prop("disabled", true);
    }
  });

  $("#leak_form .validate_input").on("keydown keyup keypress change", function() {
    if(leak_validate()) {
      $("#leak_form .leak_send_btn").prop("disabled", false);
    } else {
      $("#leak_form 1.leak_send_btn").prop("disabled", true);
    }
  });

  $('#contact_form').on('ajax:send',function(data, status, xhr){
    $('#contact_submit').val('送信中').attr({disabled: true});
  });
  $('#contact_form').on('ajax:success',function(data, status, xhr){
    $('#contact_submit').val('送信する').attr({disabled: false});
    $('.contact_flash').fadeIn();
    $('.contact_flash').delay(4000).fadeOut();
  });

  $('#leak_form').on('ajax:send',function(data, status, xhr){
    $('#leak_submit').val('送信中').attr({disabled: true});
  });
  $('#leak_form').on('ajax:success',function(data, status, xhr){
    $('#leak_submit').val('送信する').attr({disabled: false});
    $('.leak_flash').fadeIn();
    $('.leak_flash').delay(4000).fadeOut();
  });

  function leak_validate(){
    if($(".leak_name_input").val() && $(".leak_address_input").val() && $(".leak_url_input").val()){
      return true;
    }else{
      return false;
    }
  }
});
    </script>
  </body>
</html>
